<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="style.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/9.2.0/math.js"
		integrity="sha512-SewEag0kt1xsJdbfAXgLyLvYXeAoGEla4M6JSitT6ocJVI+VeUbFXkgrbloNn4cVgq46caRf31un2eoalq6YOw=="
		crossorigin="anonymous"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/9.2.0/math.min.js" integrity="sha512-5ch7MAn3LJHCHL6ri6nmXAyaQRHfmug70F7IwEQ41rnNQSGAMVyZBPTTKlaptPnq/42RXbKb/lTHm+mCQc6lPg==" crossorigin="anonymous"></script> -->

	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>

	<style>
		h1 {
			font-size: 20pt;
			margin-top: 0;
		}

		h2 {
			font-size: 16pt;
		}

		h3 {
			font-size: 14pt;
		}

		h4 {
			font-size: 12pt;
		}

		hr {
			border-top: 1px solid #ddd;
			border-bottom: none;
			margin: 5mm 0;
		}

		body {
			font-family: "Segoe UI", sans-serif;
			box-sizing:border-box;
		}

		table,
		th,
		td {
			/* border: 1px solid gray; */
			border-collapse: collapse;
		}

		td,
		th {
			padding: 2mm;
		}

		td {
			text-align: center;
		}

		tr:hover {
			background-color: aquamarine;
		}

		li {
			padding-top: 1mm;
			padding-bottom: 1mm;
		}

		input[type=number] {
			height: 10em;
		}

		body {
			background-color: #333;
		}

		article {
			background-color: aliceblue;
			max-width: 30cm;
			margin: 1cm auto;
			padding: 1cm;
			border-top: 12px solid darkturquoise; /* burlywood */
		}

		input {
			width: 10cm;
		}

		input, button {
			padding: 0.4em;
		}

		td input {
			width: 1cm;
		}
	</style>
</head>

<body>
	<article>
		<h1>Eigenwert/Eigenvektor</h1>
		<table id="ewevMat"></table>

		<button onclick="calculateEwEv()">Calculate Ew and Ev</button>
		<hr>
		<div id="result"></div>
	</article>

	<article>
		<h1>Funktion berechnen</h1>
		<input id="calcInput" type="text" placeholder="Enter expression, e.g. (1-2i)^4" oninput="calculateComplex()">
		<button onclick="calculateComplex()">Berechnen</button>

		<hr>
		<div>Eingabe: <span id="calcPretty"></span></div>
		<div>Ergebniss: <span id="calcResult"></span></div>

	</article>

	<article>
		<h1>Ringe über die Ganzen Zahlen  \(\mathbb{Z}_P\)</h1>

		<label>\(\mathbb{Z}_P\) P= <input id="z_p" type="number" value="11" oninput="populateTable()" style="font-size: 12pt; width: 2cm; height: 5mm;"></label> <br><br>

		<input id="polynInput" type="text" placeholder="Enter Polynomial factors, e.g. 1, 9, 5, 8, 5, 5" oninput="polynomialFactorisation(this.value)">
		<button onclick="polynomialFactorisation()">Berechnen</button>	

		<hr>
		<div>Zwischenschritte: <ol id="polynIntermezzo"></ol></div>
		<div>Ergebniss: <ul id="polynResult"></ul></div>

		<hr>
		<table id="ringTable"></table>
	</article>

	<!-- Parts that are important for everything -->
	<script>
		const mj = function (tex) {
			return MathJax.tex2svg(tex, { em: 16, ex: 6, display: false });
		}

		math.config({
			number: 'BigNumber',	// Default type of number:
									// 'number' (default), 'BigNumber', or 'Fraction'
			precision: 64			// Number of significant digits for BigNumbers
		})
	</script>

	<!-- Eigenvalue / Eigenvektor -->
	<script>
		var ewevMat = [];

		function calculateEwEv() {
			let mat = [];
			for (let r = 0; r < ewevMat.length; r++) {
				mat[r] = [];

				for (let c = 0; c < ewevMat[0].length; c++)
					mat[r][c] = Number(ewevMat[r][c].value);
			}

			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					let cont = document.getElementById("result");
					cont.innerHTML = '';
					cont.appendChild(mj(xhttp.responseText));
				}
			};
			xhttp.open("POST", "/ewev", true);
			xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
			xhttp.send(JSON.stringify(mat));
		}

		function createMat(rows = 3, cols = 3) {
			let table = document.getElementById('ewevMat');

			for (let r = 0; r < rows; r++) {
				ewevMat[r] = [];

				let tr = document.createElement('tr');
				table.appendChild(tr);

				for (let c = 0; c < cols; c++) {
					let td = document.createElement('td');
					tr.appendChild(td);
					ewevMat[r][c] = document.createElement('input');
					ewevMat[r][c].value = r * cols + c;
					ewevMat[r][c].addEventListener('click', function () {
						ewevMat[r][c].value = '';
					});
					td.appendChild(ewevMat[r][c]);
				}
			}
		}

		createMat();

	</script>

	<!-- Expression evaluator (https://mathjs.org/examples/browser/pretty_printing_with_mathjax.html.html) -->
	<script>
		let expr = document.getElementById('calcInput');
		let pretty = document.getElementById('calcPretty');
		let result = document.getElementById('calcResult');

		function calculateComplex() {
			let node = null;

			try {
				// parse the expression
				node = math.parse(expr.value);

				// evaluate the result of the expression
				result.innerHTML = math.format(node.compile().evaluate(), {notation: 'auto', lowerExp: -15, upperExp: 15, precision: 15});
			}
			catch (err) {
				result.innerHTML = '<span style="color: red;">' + err.toString() + '</span>';
			}

			try {
				// export the expression to LaTeX
				const latex = node ? node.toTex({ parenthesis: 'keep', implicit: 'hide'}) : '';
				console.log('LaTeX expression:', latex);

				// display and re-render the expression
				MathJax.typesetClear();
				pretty.innerHTML = '';
				pretty.appendChild(mj(latex));
			}
			catch (err) { console.error(err) }
		}

	</script>

	<!-- Ring over integers -->
	<script>
		let domain = 11;

		populateTable(domain);

		function polynomialFactorisation(argFaktors = document.getElementById('polynInput').value)
		{
			domain = Number(document.getElementById('z_p').value);

			// Define Integer ring
			const add      = (a, b) => (a + b) % domain
			const subtract = (a, b) => (a - b) % domain
			const multiply = (a, b) => (a * b) % domain
			const divide   = (a, b) => (a / b) % domain
			const pow      = (a, b) => math.pow(a, b) % domain
			const ringMath = math.create(math.evaluateDependencies)
			ringMath.import({ add, subtract, multiply, divide, pow }, { override: true })

			let intermediateSpan = document.getElementById('polynIntermezzo');
			intermediateSpan.innerHTML = '';
			let resultSpan = document.getElementById('polynResult');

			// Extract factors from input
			let args = argFaktors.split(',');
			let values = [];
			for(arg of args)
				values.push(Number(arg.trim()));

			console.log('Polynom factor input: ' + values); // DEBUG

			// Find all roots
			let factors = values;
			let roots = [];
			for(let i=0; i<values.length-1; i++)
			{
				// Guess root
				let stringrep = polyString(factors);
				let root = 0;

				for(; root < domain; root++)
				{
					try {
						if(ringMath.evaluate(stringrep, {x: root}) == 0) 
							break;
					} catch(err) {
						console.error(err.toString());
						resultSpan.innerHTML = '<span style="color: red;">' + err.toString() + '</span>';
						return;
					}
				}

				// Push found root to list
				roots.push(root);

				// Print intermediate step
				let li = document.createElement('li');
				li.appendChild(mj(`${stringrep} = 0 \\text{ ,     Nullstelle } x_${i}= ${root}`))
				intermediateSpan.appendChild(li);

				// Horner-Schema
				let hornerResult = [factors[0]];
				for(let x=1; x<factors.length; x++)
					hornerResult[x] = (hornerResult[x-1] * root + factors[x]) % domain;

				// Sanity check Horner result
				if(hornerResult[hornerResult.length-1] != 0)
				{
					console.error("Horner scheme didn't produce 0 for x" + i + ", value was: " + hornerResult[hornerResult.length-1]);
					resultSpan.innerHTML = '<span style="color: red;">Ungültiges Ergebnis im Horner Schema: ' + hornerResult[hornerResult.length-1] + '</span>';
					//return;
				}

				// Set horner result as new input for next iteration
				factors = hornerResult.slice(0, -1);
			}

			// Display solutions:
			resultSpan.innerHTML = '';
			let tr1 = document.createElement('li');
			resultSpan.appendChild(tr1);
			tr1.appendChild(mj(`f(x) = 0 \\text{ } \\forall \\text{ } x \\in \\left[${roots}\\right]`));
			
			let polyfakto = '';
			for(let i=0; i<roots.length; i++)
				polyfakto += (i>0 ? '*' : '') + (roots[i]!=0 ? '(' : '') + 'x' + (roots[i]<0 ? '+' : '') + (roots[i]!=0 ? -roots[i] : '') + (roots[i]!=0 ? ')' : '');
			let tr2 = document.createElement('li')
			tr2.innerText = polyfakto;
			resultSpan.appendChild(tr2);
		}

		/** Creates a human readable string from polynomial factors (actually also feeded to Math.js) */
		function polyString(factors)
		{
			let prettyText = '';

			for(let i=0; i<factors.length; i++)
			{
				if(factors[i] == 0) continue;
				if(i > 0) prettyText += factors[i] < 0 ? '' : '+'; // Sign will be added by number, no minus needed
				prettyText += ((factors[i] == 1 && factors.length-i > 1) ? '' : factors[i]) + (factors.length-i > 1 ? 'x' + (factors.length-i > 2 ? ('^' + (factors.length-i-1)) : '') : '');
			}

			return prettyText;
		}

		function populateTable()
		{
			domain = Number(document.getElementById('z_p').value);

			let table = document.getElementById('ringTable');
			table.innerHTML = '';

			let theadRow = document.createElement('tr');
			table.appendChild(theadRow);
			for(let i=0; i<=domain; i++)
			{
				let e = document.createElement('th');
				e.innerHTML = i==0 ? '<svg style="vertical-align: -0.188ex;" xmlns="http://www.w3.org/2000/svg" width="1.76ex" height="1.507ex" role="img" viewBox="0 -583 778 666" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"><defs><path id="MJX-2-TEX-N-2299" d="M56 250Q56 394 156 488T384 583Q530 583 626 485T722 250Q722 110 625 14T390 -83Q249 -83 153 14T56 250ZM682 250Q682 322 649 387T546 497T381 542Q272 542 184 459T95 250Q95 132 178 45T389 -42Q515 -42 598 45T682 250ZM311 250Q311 285 332 304T375 328Q376 328 382 328T392 329Q424 326 445 305T466 250Q466 217 445 195T389 172Q354 172 333 195T311 250Z"></path></defs><g stroke="currentColor" fill="currentColor" stroke-width="0" transform="matrix(1 0 0 -1 0 0)"><g data-mml-node="math"><g data-mml-node="mo"><use xlink:href="#MJX-2-TEX-N-2299"></use></g></g></g></svg>'
				 : i;
				theadRow.appendChild(e);
			}

			for(let i=1; i<=domain; i++)
			{
				let tr = document.createElement('tr');
				table.appendChild(tr);

				let e = document.createElement('th');
				e.innerText = i;
				tr.appendChild(e);

				for(let j=1; j<=domain; j++)
				{
					let td = document.createElement('td');
					td.innerText = (i*j)%domain;
					tr.appendChild(td);
				}
			}
		}
	</script>
</body>

</html>